header{
    height: 150px;
    background: violet;
}

nav{
    height: 50px;
    background: blue;
}


nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 19%;
}

ul li a{
    color: white;
    display: block;
    background: rgba(200, 100, 0, 0.5);
    text-align: center;
    text-decoration: none;
    height: 30px;
    font-size: 28px;
    border-radius: 10px;
}

ul li a:hover{
    background: rgba(200, 100, 0, 1);
}


aside{
    height: 300px;
    width: 15%;
    background: yellowgreen;
}

aside ul{
    list-style: none;
    padding: 0;
}

aside ul li{
    display: inline-block;
    width: 100%;
}

aside, section{
    display: inline-block;
   
    vertical-align: top;
}

section{
    min-height: 300px;
    background: grey;
    width: 80%;
}

footer{
    height: 80px;
    background: black;
}